---
# tasks file for fail2ban
- name: Package
  ansible.builtin.package:
    name: "{{ fail2ban_packages }}"
  tags:
    - fail2ban
    - package

- name: Service_facts
  ansible.builtin.service_facts:
  tags:
    - fail2ban
    - facts

- name: "{{ fail2ban_jail_local }}"
  ansible.builtin.template:
    src: jail.local.j2
    dest: "{{ fail2ban_jail_local }}"
    mode: "0644"
  notify:
    - Restart fail2ban
  tags:
    - fail2ban
    - config
